<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
      <td><strong>Username</strong></td>
      <td><%= f.text_field :username, :size=>"50" %></td>
    </tr>
    <tr>
      <td><strong>Full Name</strong></td>
      <td> <%= f.text_field :name, :size=>"50"  %></td>
    </tr>
    <tr>
      <td><strong>Job Title</strong></td>
      <td> <%= f.text_field :job_title, :size=>"50" %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= f.text_field :email, :size=>"50" %></td>
    </tr>
    <tr>
      <td><strong>Default location</strong></td>
      <td><%= f.collection_select(:location_id, Location.all, :id, :site_code) %></td>
    </tr>
</table>
</div>       

<br>

  <div class="actions" align=center>
    <%= f.submit %>
  </div>
<% end %>
