<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>
<br>
<%= link_to 'New Employee', new_employee_path %>
<br>
<div class='flickr_pagination'>
<%= will_paginate @employees %>
<br>
</div>

<div class="table_normal">
<table>
 
    <tr>
      <td>Username</td>
      <td>Name</td>
      <td>Job title</td>
      <td>Email</td>
      <td>Office Location</td>
      <td colspan="3">Actions</td>
    </tr>

    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.username %></td>
        <td><%= employee.name %></td>
        <td><%= employee.job_title %></td>
        <td><%= employee.email %></td>
        <td><%= employee.location.site_code %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Del', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>
</div>
<br>
<div class='flickr_pagination'>
<%= will_paginate @employees %>
<br>
</div>
<%= form_tag import_employees_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<%= link_to 'New Employee', new_employee_path %>
