<p id="notice"><%= notice %></p>

<h1>Displaying asset <%= @asset.asset_tag  %></h1>
<br>
<br>

<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
      <td><strong>Type</strong></td>
      <td> <%= @asset.asset_type %></td>
    </tr>      
    <tr>
      <td><strong>Asset #</strong></td>
      <td> <%= @asset.asset_tag %></td>
    </tr>  
    <tr>
      <td><strong>S/N</strong></td>
      <td> <%= @asset.serial_nr %></td>
    </tr>
    <tr>
      <td><strong>Make</strong></td>
      <td> <%= @asset.make %></td>
    </tr>
    <tr>
      <td><strong>Model</strong></td>
      <td> <%= @asset.model %></td>
    </tr>

    <tr>
      <td><strong>PO</strong></td>
      <td> <%= @asset.po %></td>
    </tr>
    <tr>
      <td><strong>Purchase date</strong></td>
      <td> <%= @asset.po_date %></td>
    </tr>
    <tr>
      <td><strong>Price</strong></td>
      <td> €<%= number_with_precision(@asset.price, :precision => 2) %></td>
    </tr>
    <tr>
      <td><strong>Lifecycle period (months)</strong></td>
      <td> <%= @asset.lifecycle %></td>
    </tr>
    <tr>
      <td><strong>Remaining value</strong></td>
      <td>€<%= number_with_precision(@asset.value, :precision => 2) %></td>
    </tr>
    <tr>
      <td><strong>Assigned to</strong></td>
      <td><%= if @asset.transfers.last
 					@asset.transfers.last.employee.name  
	  		  else 
	  				'Not assigned'
   			  end %></td>
    </tr>
    <tr>
      <td><strong>Last location</strong></td>
      <td><%= if @asset.transfers.last
 				@asset.transfers.last.location.country + ' ' +  @asset.transfers.last.location.city + ' ' + @asset.transfers.last.location.site_code   
	  		  else 
	  			'Not assigned'
   		      end %></td>
    </tr>
        
      
</table>    
</div>    

<br>
<div align=center>
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</div>