<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @asset.asset_type %>
</p>

<p>
  <strong>Asset #:</strong>
  <%= @asset.asset_tag %>
</p>

<p>
  <strong>S/N:</strong>
  <%= @asset.serial_nr %>
</p>

<p>
  <strong>PO:</strong>
  <%= @asset.po %>
</p>

<p>
  <strong>PO Date:</strong>
  <%= @asset.po_date %>
</p>

<p>
  <strong>Price:</strong>
  €<%= number_with_precision(@asset.price, :precision => 2) %>
</p>

<p>
  <strong>Lifecycle:</strong>
  <%= @asset.lifecycle %>
</p>

<p>
  <strong>Value:</strong>
  €<%= number_with_precision(@asset.value, :precision => 2) %>
</p>

<p>
  <strong>Make:</strong>
  <%= @asset.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= if @asset.transfers.last
 			@asset.transfers.last.employee.name  
	  else 
	  		'Not assigned'
   end %>
</p>
<p>
  <strong>Last location:</strong>
  <%= if @asset.transfers.last
 			@asset.transfers.last.location.country + ' ' +  @asset.transfers.last.location.city + ' ' + @asset.transfers.last.location.site_code   
	  else 
	  		'Not assigned'
   end %>
</p>


<p>
  <strong>Is used:</strong>
  <%= @asset.is_used %>
</p>

<p>
  <strong>Is assigned:</strong>
  <%= @asset.is_assigned %>
</p>

<p>
  <strong>Is supported:</strong>
  <%= @asset.is_supported %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
