<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
    	<td><strong>Date</strong></td>
    	<td><%=  f.date_field :date %></td>
    </tr>
    <tr>
    	<td><strong>Asset #</strong></td>
    	<td> <%= f.collection_select(:asset_id, Asset.all, :id, :asset_tag,{:prompt => 'Select'}) %></td>
    </tr>
	    <tr>
    	<td><strong>Employee</strong></td>
    	<td> <%= f.collection_select(:employee_id, Employee.all, :id, :name,{:prompt => 'Select'}) %></td>
    </tr>
	    <tr>
    	<td><strong>Location</strong></td>
    	<td><%= f.collection_select(:location_id, Location.all, :id, :site_code,{:prompt => 'Select'}) %></td>
    </tr>
    </tr>
	    <tr>
    	<td><strong>Room/Desk Nr.</strong></td>
    	<td><%= f.text_field :room %></td>
    </tr>
</table>
</div>
<br>
  <div class="actions" align=center>
    <%= f.submit %>
  </div>
<% end %>
