

<h1>Listing Transfers</h1>
<br>
<%= link_to 'New Transfer', new_transfer_path %>
<br>
<div class='flickr_pagination'>
<%= will_paginate @transfers %>
<br>
</div>

<div class="table_normal">
<table>

    <tr>
      <td>Date</td>
      <td>Asset</td>
      <td>Type</td>
      <td>Make & Model</td>
      <td>Employee</td>
      <td>Location</td>
      <td>Room</td>
      <td>User</td>
      <td colspan="2">Actions</td>
    </tr>

    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.date %></td>
        <td><%= transfer.asset.asset_tag %></td>
        <td><%= transfer.asset.asset_type %></td>
        <td><%= transfer.asset.make + ' ' + transfer.asset.model %></td>
        <td><%= transfer.employee.name %></td>
        <td><%= transfer.location.site_code %></td>
        <td><%= transfer.room %></td>
        <td><%= transfer.user_id %></td>
        <td><%= link_to 'Show', transfer %></td>
        <td><%= link_to 'Del', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>
</div>
<br>
<div class='flickr_pagination'>
<%= will_paginate @transfers %>
<br>
</div>

<h2> Import transfer </h2>
<%= form_tag import_transfers_path, multipart:true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>
<%= link_to 'New Transfer', new_transfer_path %>
