<p id="notice"><%= notice %></p>
<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
      <td><strong>Date</strong></td>
      <td> <%= @transfer.date %></td>
    </tr>
    <tr>
      <td><strong>Asset</strong></td>
      <td> <%= 'Asset #:' + @transfer.asset.asset_tag + ' | ' + @transfer.asset.make + ' ' + @transfer.asset.model %></td>
    </tr>  
    <tr>
      <td><strong>User</strong></td>
      <td>  <%= @transfer.employee.name %></td>
    </tr>            
    <tr>
      <td><strong>Location</strong></td>
      <td> <%= @transfer.location.site_code %></td>
    </tr>
    <tr>
      <td><strong>Location</strong></td>
      <td> <%= @transfer.room %></td>
    </tr>            
  
</table>    
</div> 
<br>


<%= link_to 'Back', transfers_path %>
