<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
      <td><strong>Country</strong></td>
      <td><%= f.text_field :country  %></td>
    </tr>
    <tr>
      <td><strong>City</strong></td>
      <td><%= f.text_field :city  %></td>
    </tr>
    <tr>
      <td><strong>Site Code</strong></td>
      <td><%= f.text_field :site_code  %></td>
    </tr>
    <tr>
      <td><strong>Address</strong></td>
      <td><%= f.text_area :address  %></td>
    </tr>
</table>
</div>  
<br>  
  <div class="actions" align=center>
    <%= f.submit %>
  </div>
<% end %>
