<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>
<br>
<%= link_to 'New Location', new_location_path %>
<br>
<br>
<div class="table_normal">
<table>

    <tr>
      <td>Country</td>
      <td>City</td>
      <td>Site code</td>
      <td>Address</td>
      <td colspan="3">Actions</td>
    </tr>


 
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.country %></td>
        <td><%= location.city %></td>
        <td><%= location.site_code %></td>
        <td><%= location.address %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Del', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>
</div>
<br>

<%= link_to 'New Location', new_location_path %>
