<p id="notice"><%= notice %></p>
<div class="table_normal">
<table>
    <tr>
      <td>Parameter</td>
      <td>Value</td>     
    </tr>
    <tr>
      <td><strong>Country</strong></td>
      <td> <%= @location.country %></td>
    </tr>
    <tr>
      <td><strong>City</strong></td>
      <td> <%= @location.city %></td>
    </tr>  
    <tr>
      <td><strong>Site code</strong></td>
      <td> <%= @location.site_code %></td>
    </tr>            
    <tr>
      <td><strong>Address</strong></td>
      <td> <%= @location.address %></td>
    </tr>            
  
</table>    
</div> 
<br>
<div align=center>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<h1>Historical record</h1>
<div class="table_normal">

<table>

    <tr>
      <td>Date</td>
      <td>Asset</td>
      <td>Employee</td>
      <td>Location</td>
      <td>Room</td>
    </tr>
	<% @location.transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.date %></td>
        <td><%= transfer.asset.asset_tag %></td>
        <td><%= transfer.employee.name %></td>
        <td><%= transfer.location.site_code %></td>
        <td><%= transfer.room %></td>
      </tr>
    <% end %>
</table>
</div>
</div>