<!DOCTYPE html>
<html>
<head>
  <title>Testing application with authentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="bootstrap-theme.css">
  <link rel="stylesheet" href="pagination.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><%= image_tag("tributary_logo.png", :width => 192, :height => 50, :alt => "Tributary") %></a>
      
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">      	
        <% if user_signed_in? %>
        <li class="active"><a href="/assets">Assets</a></li>
        <li class="active"><a href="/transfers">Transfers</a></li>
        <li class="active"><a href="/employees">Employees</a></li>
        <li class="active"><a href="/locations">Locations</a></li>
        <li class="active"><a href="/register/index">Register</a></li>
        <% end %>
      </ul>
      <p class="navbar-text pull-right">
<% if user_signed_in? %>
  <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    </div>
  </div>
</nav>
<div class="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
</div>
<footer>
  <div class="container">
    Application with user authentication

    
  </div>
</footer>
</body>
</html>
